<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors = "true"
    convertNoticesToExceptions = "true"
    convertWarningsToExceptions = "true"
    stopOnFailure = "false"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Dr MQ">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
